.mess-wrapper{
    margin-bottom: 15px;
}

.mess-title{

}

.mess-content{
    margin-left: 30px;
}

.mess-auth{
    margin-left:  5px;
    font-weight: bold;
}

.mess-time{
    margin-left: 10px;
    font-size: 11px;
    color: #a7a7a7;
}

